@import '../../../../theme/theme';

.menu-open,
.menu-close {
  position: absolute;
  top: $navbar-height;
  width: $menu-panel-size;
  height: calc(100vh - #{$navbar-height});
  background-color: $primary-light;
  transition: left 0.3s ease;
}
.menu-open {
  left: 0;
}
.menu-close {
  left: -$menu-panel-size;
}
.menu-button {
  color: $text-white;
  border: none;
  width: 30px;
  background: transparent;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

$menu-panel-item-padding: 20px;

.menu-panel-list {
  list-style: none;
  padding: 0;
  margin: 0;
  .menu-panel-item {
    z-index: 1; // this fix a shadow glitch
    height: 50px;
    line-height: 50px;
    padding: 0 0 0 $menu-panel-item-padding;
    position: relative;
    width: calc(#{$menu-panel-size} - #{$menu-panel-item-padding});
    cursor: pointer;
    display: block;
    text-decoration: none;
    color: $text-white;
    transition: color 0.2s, background-color 0.2s, box-shadow 0.4s,
      font-weight 0.2s, width 0.6s;
    &:hover {
      width: $menu-panel-size;
      background-color: $background-light;
      color: $black;
      box-shadow: -15px 0 15px 0 $black-light;
      font-weight: bold;
    }
  }
}
