// COLORES
$primary-dark: #a60000;
$primary: #e02b20;
$primary-light: #ff654b;

$primary-lighten-light: #ffbcaf;
$primary-lighten: #ff8a80;
$primary-lighten-dark: #c85a54;

$white-light: #ffffff;
$white: #fafafa;
$white-dark: #c7c7c7;
$white-bone: #fff4ef;

$gray-dark: #8d8d8d;
$gray: #bdbdbd;
$gray-light: #efefef;

$black-light: #484848;
$black: #212121;
$black-dark: #000000;

$cyan-light: #56c8d8;
$cyan: #0097a7;
$cyan-dark: #006978;

$background-light: #f4f4f4;
$background-dark: #242424;

$text-white: rgba(255, 255, 255, 0.87);
$text-dark: #242424;

// GENERICAS
$vh: 100vh;
$vw: 100vw;
$full: 100%;

// COMPONENTES
// Navbar & Menu
$menu-panel-size: 250px;
$navbar-height: 50px;

// https://material.io/resources/color/#!/?view.left=1&view.right=0&primary.color=e02b20
